body {
    margin: 0;
    padding: 0;
    background-color: black;

}

.btn {
    display: block;
    margin: 100px auto;
    background-color: yellow;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    margin-bottom: 0;

}

#root {
    text-align: center;
}

p {
    color: white;
}