/*---Loader----*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}


@keyframes hidePreloader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#addPostBtn {
    margin-bottom: 20px;
}

.modal-content {
    border: 10px solid rgb(190, 183, 183);
    max-width: 550px;
    box-shadow: 5px 5px 5px grey;
    position: relative;
    margin: 0 auto;
    background-color: #E2E6E9;
}

.hidden {
    display: none;
}

.modal-title {
    text-align: center;
}

#postTitle {
    padding: 20px;
    margin-bottom: 10px;
}

#postBody {
    padding: 20px;
    margin-bottom: 10px;
}

#postForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

#closeModal {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 28px;
    margin-top: 10px;
    margin-right: 10px;

}

#btnSave {
    width: 100px;
    padding: 7px;
    margin-bottom: 15px;
}