ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;

}

.tabs-title.active {
    background-color: #e2b977;
    color: #23201D;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;

}