body {
    margin: 0;
    padding: 0;

}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    background-color: #E2E6E9;
}

.card h3 {
    margin: 0 0 10px;
}

.card p {
    margin: 0 0 5px;
}

.card .detete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5e57;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;

}

.posts {
    text-align: center;
}

.btnAddPost {
    margin: 0 auto;
    display: block;
    margin-top: 30px;

}

.modal-content {
    border: 10px solid rgb(190, 183, 183);
    max-width: 550px;
    box-shadow: 5px 5px 5px grey;
    position: relative;
    margin: 0 auto;
    background-color: #E2E6E9;
}

.modal {
    display: none;

}

.modal-title {
    text-align: center;
}

#postTitle {
    padding: 20px;
    margin-bottom: 10px;
}

#postBody {
    padding: 20px;
    margin-bottom: 10px;
}

#postForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

#closeModal {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 28px;
    margin-top: 10px;
    margin-right: 10px;

}

#btnSave {
    width: 100px;
    padding: 7px;
    margin-bottom: 15px;
}


/*---Loader----*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}


@keyframes hidePreloader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}