.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: beige;
    padding: 20px;
}

.title-phone {
    text-align: center;
    margin-bottom: 20px;
}

/*-----Header------*/

.modal-wrapper {
    width: 100%;
    height: 60vh;
    background: #D9D9D9;
    overflow: hidden;
    transition: opacity 0.3s;
    z-index: 10;
}

.modal {
    width: 390px;
    height: 368px;
    background: white;
    border-radius: 16px;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 50px auto;
    position: relative;
}


.close-btn {
    border: none;
    background: transparent;
    position: absolute;
    top: 18px;
    right: 35px;
    cursor: pointer;
}



.like-icon,
.cart-icon {
    width: 30px;
    height: 30px;

}

.content {
    width: 130px;
    height: 70px;
    background: #D9D9D9;
    margin: 0px auto;
}

.title {
    font-weight: 300;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 25px;
}

.wrap-content {
    font-size: 15px;
    color: grey;
    text-align: center;
    margin-bottom: 40px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

}

.left-btn,
.right-btn {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    padding: 14px 51px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-btn {
    background: transparent;
    color: black;
    border: 1px solid black;
    color: #8a33fd;

}

.left-btn {
    background: #8a33fd;
    color: white;
    border: none;
}

/*------Cards---------*/

.product-list {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-card {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


.card-img {
    max-width: 120px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}

.card-title {
    margin-top: auto;

}

.card-color {
    margin-bottom: 10px;
}

.add-favorite {

    font-size: 30px;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    margin-left: auto;
    display: block;



}

.add-card {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.cart-content,
.like-content {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-left: 5px;
    color: black;
}